read -r -d '' script << EOF
(begin
  (use-modules (guix transformations)
               (guix profiles)
               (guix store)
               (gnu packages))

  (profile
   (content
    (specifications->manifest
     (list "rust" "rust:cargo" "clang-toolchain" "hdf5" "jemalloc")))))
EOF

prof=$(guix build -e "$script")

. $prof/etc/profile
export CC=$prof/bin/clang
export LIBCLANG_PATH=$prof/lib
export HDF5_DIR=$prof