read -r -d '' script << EOF
(begin
  (use-modules (guix transformations)
               (guix profiles)
               (guix store)
               (gnu packages))

  (profile
   (content
    (specifications->manifest
     (list "libcap" "libpcap" "rust" "rust:cargo" "gcc-toolchain" "clang-toolchain" "perf")))))
EOF

prof=$(guix build -e "$script")

. $prof/etc/profile
export CC=$prof/bin/gcc
export LIBCLANG_PATH=$prof/lib